.desktop-content
    margin: 0 auto
    max-width: 1360px
    height: auto
    padding: 0 0 0 0

body
    font-family: 'Geometria'

.color-gold
    color: $color-gold

.button
    color: #333
    border: 1px solid $color-gold
    border-radius: 50em
    padding: 12px 20px 10px 20px
    text-align: center
    text-transform: uppercase
    background-color: #FFF
    &:hover
        color: #fff
        background-color: $color-gold

.main-footer
    &__social-link
        color: $color-gold
        margin: 0 0 0 20px
        svg
            width: 25px
            height: auto
        &-wrapper
            margin: 10px 0 0 0

.modal-form
    .modal-dialog
        max-width: 870px
    .modal-body
        padding: 0
    input
        border: none
        border-bottom: 1px solid $color-gold
        border-radius: 0
        margin: 20px 0 0 0
    form
        margin: 20px 0 0 0
    &__title
        color: #333
        font-family: Times New Roman
        font-style: normal
        font-weight: normal
        font-size: 48px
        line-height: 55px
        text-align: center
        margin: 60px 0 0 0
    &__content-wrapper
        padding: 0 160px
    &__button-wrapper
        display: flex
        align-items: center
        justify-content: center
        background-image: url(/images/goldline.png)
        background-position: center center
        background-repeat: repeat-x
        margin-top: 30px
    &__disclaimer
            font-style: normal
            font-weight: normal
            font-size: 10px
            line-height: 13px
            text-align: center
            color: #777
            padding: 10px 0 40px 0
            a
                color: #777
