.partners
    margin: 40px 0 40px 0
    &__title
        font-weight: normal
        font-size: 24px
        color: $color-gold
        text-align: center
    &__slider
        height: 100px
        margin-top: 40px
    &__image
        height: 100px

.color-gold
    color: $color-gold
